<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TConvert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TExtractCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
  <userSettings>
    <TConvert.Properties.Settings>
      <setting name="TerrariaContentDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtractFolderInput" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtractFolderOutput" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtractFileInput" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtractFileOutput" serializeAs="String">
        <value />
      </setting>
      <setting name="ConvertFolderInput" serializeAs="String">
        <value />
      </setting>
      <setting name="ConvertFolderOutput" serializeAs="String">
        <value />
      </setting>
      <setting name="ConvertFileInput" serializeAs="String">
        <value />
      </setting>
      <setting name="ConvertFileOutput" serializeAs="String">
        <value />
      </setting>
      <setting name="ScriptFile" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupFolderContent" serializeAs="String">
        <value />
      </setting>
      <setting name="BackupFolderBackup" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtractMode" serializeAs="String">
        <value />
      </setting>
      <setting name="ConvertMode" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtractAllowImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtractAllowSounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtractAllowWaveBank" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExtractUseInput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertAllowImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConvertAllowSounds" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ConvertUseInput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentTab" serializeAs="String">
        <value>Extract</value>
      </setting>
      <setting name="AutoCloseProgress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCloseDropProgress" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoCloseCmdProgress" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompressImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CompletionSound" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExtractAllowFonts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PremultiplyAlpha" serializeAs="String">
        <value>True</value>
      </setting>
    </TConvert.Properties.Settings>
  </userSettings>
</configuration>